<h2>Hello. I'm Philip</h2>
<p><img src="http://www.gravatar.com/avatar/e8fc20908c78ebad30e3e835d10731dc.png" alt="Philip Arpin" title="Follow me on Twitter @philiparpin"  class="img-rounded floatLeft" />			
Entrepreneur, Apple Fanboy, Developer, Minimalist, Videographer, App Finder, Adobe Master, Tech Reviewer, Student at CSN</p>					
<p><iframe src="http://ghbtns.com/github-btn.html?user=philiparpin&type=follow&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="165" height="20"></iframe></p>
<p><a href="https://twitter.com/philiparpin" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @philiparpin</a></p>
<p>
	<ul class="buttons unstyled">
	  <li><a href="http://github.com/philiparpin" rel="me" class="social github" title="Go to github.com/erjjones" target="_blank"></a></li>
	  <li><a href="http://www.linkedin.com/pub/philip-arpin/37/574/334" rel="me" class="social linkedin" title="Go to LinkedIn profile" target="_blank"></a></li>
	  <li><a href="http://www.twitter.com/philiparpin" rel="me" class="social twitter" title="Go to twitter.com/erjjones" target="_blank"></a></li>
	  <li><a href="https://plus.google.com/u/0/114561259331203581412/posts" rel="me" class="social gplus" title="Go to Google Plus profile" target="_blank"></a></li> 
	  <li><a href="https://github.com/philiparpin/Feedback/issues/new" rel="me" class="social mail" title="Leave feedback for Philip"  target="_blank"></a></li>				
	</ul>
</p>
