<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	<div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </a>
	  <a class="brand" href="http://philiparpin.github.com">Philip Arpin</a>
	  <div class="nav-collapse">
		<ul class="nav">		  
		  <li class="">
			<a href="/"><i class="icon-home"></i> Home</a>
		  </li>
		  <li class="">
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-comment"></i> Social <b class="caret"></b></a>
				<ul class="dropdown-menu">								
					<li class=""><a href="http://www.twitter.com/philiparpin" rel="tooltip" title="Go to twitter.com/philiparpin" target="_blank">Twitter</a></li>
					<li class=""><a href="http://github.com/philiparpin" rel="tooltip" title="Go to github.com/philiparpin" target="_blank">GitHub</a></li>
					<li class=""><a href="http://www.linkedin.com/pub/philip-arpin/37/574/334" rel="tooltip" title="Go to LinkedIn profile" target="_blank">LinkedIn</a></li>
					<li class=""><a href="http://facebook.com/philiparpin" rel="tooltip" title="Go to Facebook profile" target="_blank">Facebook</a></li>
					<li class=""><a href="http://philip.monogr.am" rel="tooltip" title="Go to Instagram profile" target="_blank">Instagram</a></li>
					<li class=""><a href="skype:philip.arpin?chat" rel="tooltip" title="Go to Skype" target="_blank">Skype</a></li>
					<li class=""><a href="https://www.dropbox.com/sh/gosol4w34414xkl/K22uoggdly" rel="tooltip" title="Go to Dropbox" target="_blank">Dropbox</a></li>
				</ul>
			 </li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-list"></i> Projects <b class="caret"></b></a>
				<ul class="dropdown-menu">					
					<li class=""><a href="https://github.com/erjjones/earthjs" rel="tooltip" title="Go to Earth.js on GitHub" target="_blank">Earth.js</a></li>					
					<li class=""><a href="http://erjjones.github.com/forsale.html" rel="tooltip" title="Go to my For Sale Items">Parting Out the Civic</a></li>
				</ul>
			 </li>			
		</ul>		
	  </div>
	</div>
  </div>
</div>
